    <div class="carousel" id="carousel">
        <div class="carousel-slide slide1">
            <img src="https://i.pinimg.com/1200x/b8/02/b4/b802b48e2a864cd08247e6d80c41bfcf.jpg" alt="Master New Skills" class="slide-image">
            <div class="slide-content">
                <div style="font-size: 1.5rem; text-align: center; margin-top: 1rem;">Start your learning journey today</div>
            </div>
        </div>xxx
    </div>
    <button class="carousel-btn prev" onclick="moveCarousel(-1)">‹</button>
    <button class="carousel-btn next" onclick="moveCarousel(1)">›</button>
    <!-- <div class="carousel-dots">
        <span class="dot active" onclick="setSlide(0)"></span>
        <span class="dot" onclick="setSlide(1)"></span>
        <span class="dot" onclick="setSlide(2)"></span>
    </div> -->
